@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');

html,body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: antiquewhite;
  font-family: "Work Sans", serif;
}